<div class="container mt-5" style="margin-top: 100px">
  <h3 style="margin-top: 100px">Album Detail</h3>
  <div *ngIf="loaded; else loading" class="form-control">
    <div>
      <p>Album id: {{ album.id }}</p>
    </div>

    <div>
      <label for="title">Title:</label>
      <label id="title" style="margin: 8px">{{ album.title }}</label><br>
      <input type="text" [(ngModel)]="editableTitle" style="margin: 8px">
    </div>

    <a [routerLink]="['/albums', album.id, 'photos']">Photos</a>

    <div>
      <button class="btn btn-outline-warning" (click)="updateAlbum()" style="margin: 8px">Update</button>
      <button class="btn btn-outline-secondary" (click)="goBack()">Return Back</button>
      <button class="btn btn-outline-danger" (click)="deleteAlbum(album.id)">Delete</button>
    </div>
  </div>
  <ng-template #loading>
    <p class="text-muted">Page loading...</p>
  </ng-template>
</div>
